@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.buy {
  border: 2px solid var(--primary);
  color: var(--primary);
  text-transform: capitalize;
  width: 100%;
  padding: 13px;
  background-color: var(--white);
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  &:hover {
    transform: translate3d(1px, 1px, -1px);
  }
  &:active {
    background-color: var(--primary);
    color: var(--white);
  }
}


